.category {
    margin-top: 120px;
    margin-left: 50px;
}

.category table {
    width: 55%;
}

.category table tr td {
    border-bottom: 1px solid #fff;
}

a.convert {
    display: inline-block;
    margin-top: -350px;
}

#res {
    margin: 0 auto;
    color: #f00;
    font-size: 250%;
}