#lang {
    left: 0;
    top: 45%;
    position: fixed;
}

#lang input {
    border: 4px solid #ff3;
    background-color: #ff3;
    margin: 15px 0;
    height: 50px;
    width: 100px
}

#lang .lang-active {
    border: 4px solid #f30;
}