html{
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#page {
    height: 100%;
    margin: 0 auto;
    width: 65%;
}

#header {
    background-color: #000000;
    border-radius: 0 0 15px 15px;
    left: 0;
    min-height: 85px;
    position: fixed;
    width: 100%;
    top: 0;
}

#header h1 {
    color: #fff;
    text-align: center;
}

#content {
    background-color: #333333;
    color: #fff;
    margin: 0 auto 50px;
    min-height: 100%;
    padding-top: 50px;
    width: 65%;
}

.category form {
    border: 1px dashed #cccccc;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    min-width: 300px;
    width: 45%;
}

.error {
    color: #f00;
}

#footer {
    background-color: #000000;
    border-radius: 15px 15px 0 0;
    bottom: 0;
    height: 7%;
    left: 0;
    min-height: 50px;
    position: fixed;
    width: 100%;
}

#footer p {
    color: #fff;
    text-align: center;
}

.captcha {
    border:0;
    color: #f39;
    height:20px;
    margin-top: 5px;
    text-align: center;
    width:50px;
}

.clear{
    clear: both;
}
